@model WebApplication2.ViewModels.HomeEventFacultyViewModel

<h3>Event Faculty Profile - @Model.User.FirstName @Model.User.LastName - @Model.Event.EventName</h3>

<div class="row" id="app">
    <form asp-for="EventFacultyManage" asp-controller="Home" method="post">
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="EventId" />
        <input type="hidden" asp-for="UserId" />
        @*<select asp-for="EventFacultyRoles" asp-items="@ViewBag.RolesSelect" multiple class="form-control"></select>*@

        @*<select multiple asp-items="@(new MultiSelectList(ViewBag.RolesSelect,"Id", "Name"))"></select>*@
        @*<div class="col-md-12">
            <label asp-for="EventFacultyRoles"></label>
            <div class="form-group">
                <select asp-for="EventFacultyRoles" asp-items="@ViewBag.RolesSelect" multiple class="form-control" size="@ViewBag.RoleCount"></select>
            </div>
        </div>*@

        <div class="col-md-12">
            <div class="form-group">
                <div class="checkbox">
                    <div class="custom-checkbox"><input asp-for="BookHotel" v-model="bookHotel" /> Book Hotel</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="CheckIn"></label>
                <input asp-for="CheckIn" class="form-control" v-model="checkIn" v-bind:disabled="!hotelCheck" />
                <span asp-validation-for="CheckIn" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="CheckOut"></label>
                <input asp-for="CheckOut" class="form-control" v-model="checkOut" v-bind:disabled="!hotelCheck" />
                <span asp-validation-for="CheckOut" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <div class="radio">
                    <label><input asp-for="TravelMethod" v-model="travelMethod" type="radio" value="Please book my air travel" />Please book my air travel</label><br />
                    <label><input asp-for="TravelMethod" v-model="travelMethod" type="radio" value="Please book my train travel" />Please book my train travel</label><br />
                    <label><input asp-for="TravelMethod" v-model="travelMethod" type="radio" value="I will drive myself" />I will drive myself</label><br />
                    <label><input asp-for="TravelMethod" v-model="travelMethod" type="radio" value="I will book my own travel and provide the final itinerary to The France Foundation" />I will book my own travel and provide the final itinerary to The France Foundation</label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DepartureDate"></label>
                <input asp-for="DepartureDate" class="form-control" v-model="departureDate" v-bind:disabled="!travelCheck" />
                <span asp-validation-for="DepartureDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DepartureTime"></label>
                <select asp-for="DepartureTime" asp-items="@ViewBag.times" class="form-control" v-model="departureTime" v-bind:disabled="!travelCheck"><option value="">-- Select Time --</option></select>
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DepartureLocation"></label>
                <input asp-for="DepartureLocation" class="form-control" v-model="departureLocation" v-bind:disabled="!travelCheck" />
                <span asp-validation-for="DepartureLocation" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ReturnDate"></label>
                <input asp-for="ReturnDate" class="form-control" v-model="returnDate" v-bind:disabled="!travelCheck" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ReturnTime"></label>
                <select asp-for="ReturnTime" asp-items="@ViewBag.times" class="form-control" v-model="returnTime" v-bind:disabled="!travelCheck"><option value="">-- Select Time --</option></select>
                <span asp-validation-for="ReturnTime" class="text-danger"></span>
            </div>
        </div>
        
        
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ReturnLocation"></label>
                <input asp-for="ReturnLocation" class="form-control" v-model="returnLocation" v-bind:disabled="!travelCheck" />
                <span asp-validation-for="ReturnLocation" class="text-danger"></span>
            </div>
        </div>
        
        <div class="col-md-12">
            <input type="submit" class="btn btn-success" value="Save" v-bind:disabled="!validForm" />
        </div>

    </form>
</div>


@section scripts{
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/vue/dist/vue.js"></script>
    <script src="~/js/Home/EventFacultyManage.js"></script>
    <script>
        $(document).ready(function () {
            $("#DepartureDate, #ReturnDate, #CheckIn, #CheckOut").datepicker();
        });
    </script>
}